.dub
docs.json
__dummy.html
docs/
/inochi-viewer
inochi-viewer.so
inochi-viewer.dylib
inochi-viewer.dll
inochi-viewer.a
inochi-viewer.lib
inochi-viewer-test-*
*.exe
*.o
*.obj
*.lst
mdl/
out/
dub.selections.json
.DS_Store
*.dylib
*.a
*.inp